<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wisecashier.ecr.demo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".trans.wlan.PaymentActivity" />
        <activity android:name=".trans.wlan.CloseActivity" />
        <activity android:name=".trans.wlan.QueryActivity" />
        <activity android:name=".trans.wlan.RefundActivity" />
        <activity android:name=".trans.cloud.CloudActivity" />
        <activity android:name=".trans.cloud.CloudQueryActivity" />
        <activity android:name=".trans.cloud.CloudPurchaseActivity" />
        <activity android:name=".trans.cloud.CloudRefundActivity" />
        <activity android:name=".trans.cloud.CloudVoidActivity" />
        <activity android:name=".trans.cloud.CloudPerAuthActivity" />
        <activity android:name=".trans.cloud.CloudPerAuthCompleteActivity" />
        <activity android:name=".trans.cloud.CloudPerAuthCancelActivity" />
        <activity android:name=".trans.cloud.CloudPerAuthCompleteRefundActivity" />
        <activity android:name=".trans.cloud.CloudCloseActivity" />
    </application>
</manifest>